@font-face {
    font-family: Phenomena;
    src: url(/fonts/Phenomena-Regular.otf);
		font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: Phenomena;
    src: url(/fonts/Phenomena-Bold.otf);
		font-weight: bold;
		font-style: normal;
}


body{
	background-image:url(/img/back.jpg);
	margin: 0;
}

.logot{
	 display: block;
		margin: 0 auto;
}

a{
  color: #e0e0e0;
}


#table{
	border-radius: 10px 10px 10px 10px;
	background: url(/img/back2.png);
	opacity:1;
}



.tags{
  background: url(/img/back2.png);
  width: 350px;
  font-size: 12pt;
  border-radius: 10px 10px 10px 10px;
  padding: 30px 30px 30px 20px;

}

.tags_des{
  font-family: Phenomena;
  color: #e0e0e0;
  background-color: rgba(111, 179, 222, 0.3);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
  margin-bottom: 20px;
  line-height: 2;
}

.tags_des:hover{
  background-color: rgba(235, 235, 235, 0.8);
}
.article_name{
  display: inline-block;
}

.article_name:hover{
    background-color:rgba(235, 235, 235, 0.9);
    border-radius: 3px 3px 3px 3px;
    color: #e0e0e0;

}

  .article_image{
    width:80px;
    height: 80px;
    float:left;
    background-color: black;
    overflow: inherit;
    margin: 10px;
    background-size:contain;

  }
  .article_info_meta{
  	color: #d1d1d1;
  	font-size: 12pt;
    padding-bottom: 5px;
  }


  .article_info_preview{
    font-family: Phenomena;
  	color: #d1d1d1;
  	font-size: 13pt;
    font-weight: normal;
  }
  .data{
    float:right;
    color: #d1d1d1;
    padding-right: 10px;
  }

.contact{
  background: url(/img/back2.png);
  width: 350px;
  font-size: 12pt;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 20px 30px 20px;
}
.shares{
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;

}
.link{
  margin:0 10px 10px 0;
}
.link:hover{
  color:rgba(111, 179, 222, 1);
}

.mail{
  color: #d1d1d1;
  text-decoration: underline;
}

.mail:hover{
  color: #d1d1d1;
}
.mail:visited{
  color: #d1d1d1;
}

h2{
  margin: 0px;
  padding:15px;
  font-family: Phenomena;
  font-weight: bold;
}

h3{
  margin: 0px;
  padding:15px;
  font-family: Phenomena;
  font-weight: bold;
}


p{
	font-family: Phenomena;
	color: #d1d1d1;
	font-size: 15pt;
  margin: 0px;
  font-weight: normal;
}

.contacts-info{
  padding-left: 10px;
  padding-right: 10px;
}

.Contacts{

		color: #d1d1d1;
		font-size: 15pt;
		padding-right: 20%;
}

section{
	width: 100%;
	font-size: 9pt;
}

input::-moz-placeholder {
  color:#d1d1d1;
}
input::-webkit-input-placeholder {
  color:#d1d1d1;
}
textarea::-moz-placeholder{
  color:#d1d1d1;
}

textarea::-webkit-input-placeholder{
  color:#d1d1d1;
}

#inline {
   margin-left:30px;
   width:80%;
   margin:0 auto;
   padding:10px 20px;
 }
 .txt {
   font-family: Phenomena;
   font-weight: normal;
   background-color: rgba(111, 179, 222, 0.15);
   display:inline-block;
   color:#d1d1d1;
   width:190px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:20px!important;
   line-height:1.4em;
   border-radius: 5px 5px 5px 5px;
}

.txtarea {
  font-family: Phenomena;
  font-weight: normal;
   background-color: rgba(111, 179, 222, 0.15);
   display:inline-block;
   color:#d1d1d1;
   width:617px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:20px!important;
   line-height:1.4em;
   height:80px;
   border-radius: 5px 5px 5px 5px;
}

#send {
     font-size:20px!important;
    font-family: Phenomena;
    font-weight: normal;
    color:#FFFFFF;
    display:block;
    cursor:pointer;
    padding:5px 11px;
    font-size:1.2em;
    border:solid 1px #F9F9F9;
    border-radius:2px;
    background:rgba(111, 179, 222, 0.1);
    width:210px;
    margin-bottom:20px;
    border-radius: 5px 5px 5px 5px;
}
#send:hover {
    background:rgba(111, 179, 222, 0.5);
}

.footer{
	position: fixed;
	width: 100%;
	left:0; bottom:0;
	background: url(/img/back2.png);
	color: #d1d1d1;
	padding-bottom: 10px;
	padding-top: 10px;

}
